<footer class="footerBody">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="20.967" height="26.121" viewBox="0 0 20.967 26.121">
      <g id="Grupo_51" data-name="Grupo 51" transform="translate(1.05 1.05)">
        <path id="Caminho_2016" data-name="Caminho 2016" d="M673.773,876.4V861.808l9.434-9.434,9.433,9.434V876.4Z" transform="translate(-673.773 -852.375)" fill="none" stroke="#c61d35" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"/>
        <path id="Caminho_2017" data-name="Caminho 2017" d="M640.015,876.915v-6.773h6.279v6.773" transform="translate(-633.721 -853.895)" fill="none" stroke="#c61d35" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"/>
      </g>
    </svg>
    <p>INÍCIO</p>
  </div>
</footer>
