<section class="loginBody">
  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="83.786" height="92.58" viewBox="0 0 83.786 92.58">
      <path id="Caminho_1996" data-name="Caminho 1996"
        d="M291.556,238.5V212.089h38.1v-7.614H283.932l.013,38.4q20.935,12.088,41.869,24.174l22.876-13.21v-68.39H264.906l0,68.39,22.875,13.209,15.207-8.78-7.591-4.383-7.608,4.393-15.274-8.818.006-56.4h68.557l0,56.4L325.8,258.278q-17.124-9.89-34.247-19.78m11.433-7.359h19.05V238.5L310.6,245.1l7.592,4.383,11.456-6.614.007-19.35H302.989Zm11.407,42.5-7.6-4.387-7.6,4.387,7.6,4.387Z"
        transform="translate(-264.904 -185.446)" fill="#c61d35" fill-rule="evenodd" />
    </svg>
    <h1>GUARDIANS</h1>
  </div>
  <div class="loginForm">
    <form [formGroup]="formLogin" autocomplete="off">
      <p>
        <input class="loginForm__input" type="text" value="" placeholder="Usuário" formControlName="username" />
      </p>
      <p>
        <input class="loginForm__input" type="password" value="" placeholder="Senha" formControlName="password" />
      </p>
      <p class="loginForm__link">
        <a href="#">Esqueci minha senha</a>
      </p>
      <button class="loginForm__button" mat-raised-button color="accent" [disabled]="!formLogin.valid"
        (click)="onSubmit()">
        ENTRAR
      </button>
    </form>
  </div>
  <p class="login__link2">
    <a href="#">Ainda não tem cadastro? Criar conta</a>
  </p>
</section>
