.filters {

  &__header {
    height: 200px;
    background-color: #1D2B3A;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #ffff;
    font-size: 20px;
    margin-left: 6.1px;
  }

  &__title2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  &__tipos-checkbox {
    display: flex;
    justify-content: space-between;
  }

  &__engine {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
  }

  &__btn-engine {
    background-color: #fff;
    width: 106px;
    height: 38px;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }

  &__btn-engine--active {
    background-color: #C61D35;
    color: #fff;
  }

  &__btn-apply {
    width: 354px;
    height: 56px;
    font-size: 18px;
    margin-top: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  &__apply-body {
    display: flex;
    justify-content: center;
    height: 101px;
    margin-top: 32px;
  }

}

.btn-place {
  width: 48px;
  height: 38px;
}
